Repository juliocc/cloud-foundation-fabric, changes with the labels that .github/labeler.yml gives for each.
All labels: on:blueprints, on:documentation, on:FAST, on:modules, on:tools

.github/labeler.yml:

'on:blueprints':
  - any:
    - 'blueprints/**'
    - '!**/*.md'

'on:documentation':

  - any:
      - '**/*.md'
      - '!**/README.md'

  - 'README.md'
  - 'blueprints/README.md'
  - 'blueprints/*/README.md'
  - 'modules/README.md'
  - 'fast/README.md'
  - 'fast/stages/README.md'

'on:FAST':
  - any:
    - 'fast/**'
    - '!**/*.md'

'on:modules':
  - any:
    - 'modules/**'
    - '!**/*.md'

'on:tools':
  - 'tools/**'
  - '.github/**'

Update README.md
  blueprints/README.md
Labels: on:documentation

test
  blueprints/gke/README.md
Labels: on:documentation

test6
  blueprints/gke/binauthz/README.md
  blueprints/gke/binauthz/main.tf
Labels: on:blueprints

test7
  modules/gcs/README.md
Labels: none

more
  modules/gcs/main.tf
Labels: on:modules

Create fr.yaml
  .github/ISSUE_TEMPLATE/fr.yaml
Labels: on:tools

Update fr.yaml
  .github/ISSUE_TEMPLATE/fr.yaml
Labels: on:tools

Update fr.yaml
  .github/ISSUE_TEMPLATE/fr.yaml
Labels: on:tools

Update fr.yaml
  .github/ISSUE_TEMPLATE/fr.yaml
Labels: on:tools

Update fr.yaml
  .github/ISSUE_TEMPLATE/fr.yaml
Labels: on:tools

Update and rename bug_report.md to bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: on:documentation, on:tools

Update bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: on:tools

Update bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: on:tools

Update bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: on:tools

Update bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: on:tools

Update bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: on:tools

Update bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: on:tools

Update and rename fr.yaml to feature_request.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: on:tools

1-4
  README.md
Labels: on:documentation

Update variables.tf
  modules/firestore/variables.tf
Labels: on:modules

Update pr-review.yml
  .github/workflows/pr-review.yml
Labels: on:tools

Update pr_review.py
  tools/pr_review.py
Labels: on:tools

Update variables.tf
  modules/firestore/variables.tf
Labels: on:modules

Update pr_review.py
  tools/pr_review.py
Labels: on:tools

Update variables.tf
  modules/firestore/variables.tf
Labels: on:modules

Update pr_review.py
  tools/pr_review.py
Labels: on:tools

Update pr_review.py
  tools/pr_review.py
Labels: on:tools

Update pr-review.yml
  .github/workflows/pr-review.yml
Labels: on:tools

Update pr_review.py
  tools/pr_review.py
Labels: on:tools

Update pr_review.py
  tools/pr_review.py
Labels: on:tools

Update README.md
  modules/firestore/README.md
Labels: none

Update README.md
  modules/firestore/README.md
Labels: none

Update pr_review.py
  tools/pr_review.py
Labels: on:tools
